@charset 'utf-8';
.disabled{background:#999}.del{text-decoration:line-through}.clear{clear:both;width:0;height:0;overflow: hidden;}.clearfix{clear:both}.clearfix:after{display:block;content:'';clear:both}.Left,.fl{float:left}.Right,.fr{float:right}.tl{text-align:left}.tc{text-align:center}.tr{text-align:right}.fb{font-weight:700}.bluebg{background:#00baf2}.blue{color:#00baf2}.redbg{background:#ff4a56}.red{color:#ff4a56}.red:hover{color:#950b11}
.mask, .Mask {width:100%;height:100%;position:fixed;background: url(https://s1.51cto.com/images/201611/95dc798763e7191d096823b51600438a1218c0.png);top:0px;left:0px;z-index:9999;display: none;}
.Page {width: 1200px;margin: 0 auto;}
.Page.Max {width: 90%;min-width: 1000px;}
.blue-btn {color: #fff;background: #4285f4;border: 1px solid #4285f4;cursor: pointer;}
.blue-btn:hover {color: #fff;background: #3477e6;border: 1px solid #3477e6;}
.gray-btn {color: #333;background: #fff;border: 1px solid #ccc;cursor: pointer;}
.gray-btn:hover {background: #e6e6e6;}

.Header {background: #FFF;border-bottom:1px solid #DDD;height: 60px;position: relative;z-index: 21;min-width: 1000px;}
  .Header .Logo {width: 150px;background: url(../images/logo2.0.png) no-repeat center;height: 60px;float: left;}
    .Header .Logo a {display: block;height: 100%;text-indent: -9999px;overflow: hidden;}
  .Header .Navigates  {display: inline-block;list-style: none;}
    .Header .Navigates li {height: 60px;position: relative;}
      .Header .Navigates li>a  {line-height: 60px;height: 58px;display: block;}
      .Header .Navigates li>div {position: absolute;top:61px;left:-30px;right: -15px;line-height: 28px;padding: 10px;text-align: center;background: #FFF;border:1px solid #DDD;border-top: 0;display: none;}
      .Header .Navigates li:hover>div {display: block;}
        .Header .Navigates li>div a {display: block;font-size: 12px;position: relative;}
        .Header .Navigates li>div a:hover {background: #ededed;color: #4285f4;}
      .Header .Navigates li.maps>div  {right: 0;left: -15px;}
    .Header .Navigates li.more  {padding-right: 15px;background: url(../images/icon/01.png) no-repeat right center;position: relative;}
    .Header .Navigates li.more:hover  {background-image: url(../images/icon/01s.png);}
      .Header .Navigates li i.arrow  {width: 14px;height: 8px;position: absolute;top:-8px;left: 50%;margin-left: -7px;background:url(../images/icon/03.png) no-repeat;}
    .Header .Navigates.fl li {float: left;margin-left: 40px;font-size: 20px;}
      .Header .Navigates.fl li.cur>a,.Header .Navigates.fl li:hover>a  {border-bottom:2px solid #4285f4;}
    .Header .Navigates.fr li {float: right;margin-right: 40px;font-size: 16px;}
    .Header .Navigates.fr li.login  {margin-right: 10px;background: url(../images/top-line.png) no-repeat right center;padding-right: 10px;}
    .Header .Navigates.fr li.maps {margin-right: 0;}
      .Header .Navigates.fr li>div  {left: -10px;right: -10px;}
      .Header .Navigates.fr li>a.cur,.Header .Navigates.fr li>a:hover  {}
      .Header .Navigates.fr li.user {padding-left: 40px;}
        .Header .Navigates.fr li.user img {width: 32px;height: 32px;border-radius: 100%;position: absolute;left: 0;top:12px;}
        .Header .Navigates.fr li.user>div {/* left: 20px; */left: 8px;right: 5px;}
          /* .Header .Navigates.fr li.user>div a {text-align: left;text-indent: 10px;} */
        .Header .Navigates.fr li.user>a {max-width: 60px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;font-size: 14px;}
        .Header .Navigates.fr i.dot {background:#ff3600;width: 5px;height: 5px;border-radius: 5px;position: absolute;right: 8px;top:18px;}
        .Header .Navigates.fr li>div a i.dot {right: 3px;top:11px;}
        .Header .Navigates.fr li.write a {padding-left: 25px;background:url(../images/icon/07.png) no-repeat left center;}
        .Header .Navigates.fr li.write a:hover  {background-image:url(../images/icon/07-.png)}
        .Header .Navigates.fr li.mRead a {padding-left: 20px;background:url(../images/icon/06.png) no-repeat left center;}
        .Header .Navigates.fr li.mRead a:hover  {background-image:url(../images/icon/06-.png)}
        .Header .Navigates.fr li.mRead div  {width: 120px;color:#999;font-size: 12px;line-height: 1;left:50%;margin-left: -71px;right: 0;box-sizing: content-box;}
          .Header .Navigates.fr li.mRead div img  {display: block;width: 120px;margin-bottom: 10px;}

.Content  {padding-top: 20px; position: relative;z-index: 10;}
.Footer {padding: 40px 0;overflow: hidden;font-size: 12px;color:#999;background:#eaeaeb;margin-top: 20px;}
  .Footer dl  {margin-right: 40px;font-size: 14px;}
    .Footer dl dt {font-size: 16px;margin-bottom: 10px;color:#333;}
    .Footer dl td {padding-right: 35px;height: 28px;}
      .Footer dl td a {color:#999;}
      .Footer dl td a:hover {color:#4285f4;}
    .Footer dl img  {margin-right: 20px;}
  .Footer .links  {overflow: hidden;margin-top: 20px;margin-bottom: 22px;}
    .Footer .links a  {color:#999;float: right;text-align: center;width: 75px;padding-top: 35px;background: url(../images/footer_icon.png) no-repeat;}
    .Footer .links a.move {background-position: -198px 0px;}
    .Footer .links a.qq {background-position: -122px 0px;}
    .Footer .links a.qqq {background-position: -52px 0px;}
    .Footer .links a.sina {background-position: 21px 0px;}
    .Footer .links a:hover  {color:#333;}
    .Footer .links a:hover.move {background-position: -198px -59px;}
    .Footer .links a:hover.qq {background-position: -122px -59px;}
    .Footer .links a:hover.qqq {background-position: -52px -59px;}
    .Footer .links a:hover.sina {background-position: 21px -59px;}
  .Footer .copy a {color:#999;}
  .Footer .copy a:hover {color: #333;}

  /*分页*/
.pagination  {margin: 30px auto;text-align: right;font-size: 14px;}
.pagination li  {display:inline-block;margin:0px 2px;height: 34px;line-height: 34px;overflow: hidden;background: #FFF;border:1px solid #E0E0E0;}
.pagination li  {*display:inline;}
.pagination li.disabled, .pagination li.disabled:hover {border-color:#EEE;padding:0px 10px;cursor: default;}
.pagination li.active, .pagination li:hover  {border-color: #4285f4;}
.pagination li:last-child.last.disabled {border-color: #FFF;font-size: 14px;color: #333}
.pagination li a {display: block;padding: 0px 16px;background: #fff;text-align: center;}
.pagination li.active a,.pagination li a:hover {background: #4285f4;color:#FFF;}
.pagination li:last-child.last.noLink {border-color:transparent;margin: 0;margin-left: 10px;background: none;}

/*下拉框*/
.pulldown {position: relative;background: #fff;border: 1px solid #ccc;z-index: 2;}
.pulldown p {padding: 0 20px 0 10px;height: 34px;line-height: 34px;color: #555;margin-right: 10px;background: #fff url(../images/icon/08.png) no-repeat right center;border-radius: 2px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.pulldown.on .pulldown-list {display: block;}
.pulldown-list {position: absolute;left: 0;top: 33px;width: 94%;background: #fff;padding: 3%;margin-left: -1px;border: 1px solid #ccc;border-radius: 2px;display: none;cursor: pointer;}
.pulldown-list li {height: 30px;line-height: 30px;color: #333;padding: 0 10px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.pulldown li:hover {color: #1e90ff;background: #e0e0e0;}
.pulldown.on p {background: #fff url(../images/icon/08s.png) no-repeat right center;}

/*nolist*/
.noList {text-align: center;margin: 100px auto;}
.noList p {font-size: 16px;color: #999;line-height: 3;}
